[submodule "backend"]
	path = backend
	url = https://github.com/kiranojhanp/proshore-todo-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/kiranojhanp/proshore-todo-frontend.git
